/* Begining of general css */

/* Font face*/

@font-face {
    font-family: 'Roobert-Regular';
    src: url('font/Roobert-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }

@font-face {
    font-family: 'Roobert-Bold';
    src: url('font/Roobert-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }

.app-body{
    width: 768000px;
    height: 1000px;
    justify-content: center;
    align-items: center; 
    padding-top: 50px; 
    padding-bottom: 50px;
    background: #D2D2D2;
}


h1{
    font-size: 10rem;
    font-family: 'Roobert-Bold';
}

h4{
    font-size: 10rem;
    font-family: 'Roobert-Regular';
}
.brand-logo {
    max-width: 100%;
    height: 100%;
}

.br-60{
    border-radius: 65px;
}

.d-flex{
    display: flex;
}

.carousel_wrapper-first{
    padding-top: 15rem
}

.carousel_wrapper_second{
    padding-top: 15rem;
}

.hr-scroll{
    gap: 15rem;
}


.horizontal-scrolling-items-left {
    width: calc(150px * 20);
    display: flex;
    animation: scroll-left 15s linear infinite;
    animation-direction: alternate; 
}

.horizontal-scrolling-items-right {
    width: calc(150px * 20);
    display: flex;
    animation: scroll-right 15s linear infinite;
    animation-direction: alternate; 
}


@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-150px * 20));
    }
}


@keyframes scroll-right {
    0% {
        transform: translateX(calc(-150px * 20));
    }
    100% {
        transform: translateX(0);
    }
}


  .mt-5{
    margin-top: 10rem;
  }



.landing_section{
    width:2000px;
    background: #fff;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
  
}


.landing-text {
    font-size: 5rem;
    font-family: 'Roobert-regular';
}

.landing_button{
    font-size: 10rem;
    width:500px;
    height: 200px;
    background-color: #002F34;
    color: #fff;
    border-radius: 50px;
}


.landing_wrapper {
    text-align: center;
    padding:5rem;
  }

  


  

/* make the 1st section span from 10% */
 
.app1-body{
    width: 768000px;
    height: 1000px;
    justify-content: center;
    align-items: center; 
    padding-top: 50px; 
    padding-bottom: 50px;
    background: #000;
}

.section-1 {
    background-color: #606060;
    max-width: 2000px;
    height: 100vh !important;
    margin-left: 54rem;
}

.section_wrapper{
    justify-content: center;
    align-items: center;
}

.profile_image{
    max-width: 100%;
    height: 100%;
}

.form-wrapper{
    border: solid #fff 0.5px;
}